<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MoneyMan MoneyMan Yeah Thats Me</title>
  </head>
  <body>
    <h1>Money Man</h1>
    <h2>Track Your Bills With Ease</h2>
    <h3>Fill out the input fields appropriately to have it calculate the monthly grand total.</h3>
    <form action="/billMatrix">
      <input type="text" name="billDate" value="" placeholder="MM-DD-YYYY">
      <input type="text" name="" value="" placeholder="Bill Name">
      <input type="text" name="" value="" placeholder="$000">.
      <input type="text" name="" value="" placeholder=" ¢00">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
